 .wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#344151 ;
  flex-direction: column;
  gap: 10;
 }

 .heading{
  color: #0398d4;
   font: medium;
   font-size: xx-large;
   margin-bottom: 40px;
   font-weight: bold;
 }

 .btn{
  display: flex;
  background-color: white;
  justify-content: center;
  gap: 12;
  margin-bottom: 40px;
 }

 .increment{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: xx-large;
 }

 .count{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: xx-large;
 }

 .decrement{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: xx-large;
 }

 .reset{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: aqua;
  color: black;
  
 }